<h1 align="center"><strong>Contact us</strong></h1>
<div>
  <div class="well col-xs-8 col-xs-offset-2">
    <h4 align="center"> <strong>Address:</strong></h4>
    <p align="center"> Dunlin street<br>
                       Aston village<br>
                       Drogheda<br>
                       County Louth<br>
                       (Same building with Ballymakenny College)</p>
  </div>
  <div class="well col-xs-8 col-xs-offset-2">
    <h4 align="center"> <strong>Phone:</strong></h4>
    <p align="center">Freephone: 1800 816016<br>
                      Phone: +353 41 9842740 <br> 
                      Mobile: +353 831458387 </p>
  </div>
  <div class="well col-xs-8 col-xs-offset-2">
    <h4 align="center"> <strong>Email:</strong></h4>
    <p align="center">admin@northeastcollege.ie <br> admissions@northeastcollege.ie</p>
  </div>
</div>

