<h1 align="center">Cashier will be here shortly</h1>

<h4 align="center">
  <p>You can set up payment by</p>
  <p>adding a gem called stripe </p>
  <p>go to https://github.com/stripe/stripe-ruby</p>
  <p>and follow the installion instructions</p>
</h4>