<h1 align="center">Book details</h1>
    <%= render 'parshow' %>
  <div class="panel-footer">
    <p><%= link_to 'Buy', purchase_bookstore_path(@bookstore), class: "btn btn-success btn-lg" %> |
    <%= link_to 'Edit', edit_bookstore_path %> |
    <%= link_to 'Back', bookstores_path %></p>
  </div>
