/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
*/
#logo {
    float: left;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
}

#logo:hover {
    color: #000fff;
    text-decoration: none;
}


.jumbotron {
  margin-bottom: 0px;
    background-image: image-url("college.JPG");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 450px;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: #0000ff;
}

.footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777777;
}

footer a:hover {
    color: #222;
}

footer ul {
    float: right;
    list-style: none;
}