<div class="container">
  <footer class="footer">
    <small>
     <p> Copyright © owentaffe@gmail.com</p>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %> |
          <%= link_to "About", about_path %> |
          <%= link_to 'Contact', contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>